@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #555;
  margin-top: 70px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #333;
}
p {
  line-height: 28px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
a {
  color: #6db1bf;
}
a:hover,
a:focus {
  color: #301a4b;
  text-decoration: none;
  outline: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #90708c;
  border-color: #90708c;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #6db1bf;
}

#headerwrap {
  background: url(https://scontent.frix6-1.fna.fbcdn.net/v/t31.18172-8/13679903_1158454644211578_342553433584848957_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8631f5&_nc_ohc=wDXO3HisqZMAX8BEawW&_nc_ht=scontent.frix6-1.fna&oh=00_AfBIPnhiz66kMu8-zfgLYSTxMJc3eaW5qHrfIyprQerDMA&oe=64252F3E)
    no-repeat center top;
  margin-top: -10px;
  padding-top: 20px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  background-size: 100%;
}

#headerwrap h1 {
  margin-top: 100px;
  color: white;
  font-size: 70px;
  font-weight: 300;
  letter-spacing: 3px;
}

#headerwrap h2 {
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.w {
  padding-top: 35px;
}

.w h4 {
  font-size: 25px;
}

#dg {
  background: #e0e0e0;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
#dg h4 {
  font-size: 40px;
}
